\CMIS\RES\APPTABLE.BIN binary
\CMIS\RES\ASS_ROOM.BIN binary
\CMIS\RES\bannerdb.bin binary
\CMIS\RES\C_ITEMS.BIN binary
\CMIS\RES\RESDATA_CON.BIN binary
\CMIS\RES\DB_LEVEL.BIN binary
\CMIS\RES\DB_TERMS.BIN binary
\CMIS\RES\D_CONST.BIN binary
\CMIS\RES\D_SHCEQ.BIN binary
\CMIS\RES\D_SHCP.BIN binary
\CMIS\RES\D_SHCRS.BIN binary
\CMIS\RES\D_SHEQ.BIN binary
\CMIS\RES\D_SHLECT.BIN binary
\CMIS\RES\D_SHMODS.BIN binary
\CMIS\RES\D_SHROOM.BIN binary
\CMIS\RES\D_STUACC.BIN binary
\CMIS\RES\RD_TTW.BIN binary
\CMIS\RES\TT_ITEMS.BIN binary
